In [2]:
import akshare as ak 

import pandas as pd
import numpy as np

import os 
from datetime import datetime
from tqdm import tqdm

In [3]:
# load the hongli list
hs = pd.read_csv('../data/input/zz500_list_20251216.csv', sep='\t')
hs['code'] = hs['code'].astype(str).str.zfill(6)

STOCK_CODES = hs['code'].tolist()
print(len(STOCK_CODES))

500

In [4]:
today = pd.to_datetime("today").strftime("%Y%m%d")

os.makedirs(f"../data/input/price-data/{today}", exist_ok=True)

In [5]:
# check financial data already loaded
STOCK_LOADED = os.listdir(f'../data/input/price-data/{today}/')
STOCK_LOADED = os.listdir(f'../data/input/price-data/20251219/')
STOCK_LOADED = [stock[13:19] for stock in STOCK_LOADED]
 
len(STOCK_LOADED)

838

In [6]:
MISSED_CODE = [stock for stock in STOCK_CODES if stock not in STOCK_LOADED]
print(MISSED_CODE)
len(MISSED_CODE)

['689009']

1

In [7]:
STOCK_SYMBOLS_1 = ["sh" + code if code.startswith("6") 
                   else "bj" + code if code.startswith("9") 
                   else "sz" + code 
                   for code in MISSED_CODE]
len(STOCK_SYMBOLS_1)

1

In [ ]:
today = pd.to_datetime("today").strftime("%Y%m%d")

while len(STOCK_SYMBOLS_1) > 0:
    print(len(STOCK_SYMBOLS_1))
    for symbol in tqdm(STOCK_SYMBOLS_1):
        try:
            price_df = ak.stock_zh_a_daily(symbol=f"{symbol}", start_date="20101231", end_date="20251231", adjust="")
            price_df = price_df[['date', 'open', 'high', 'low', 'close']]
            price_df.columns = ['report_date', 'open', 'high', 'low', 'close']
            price_df.to_csv(f"../data/input/price-data/{today}/price_data_{symbol}_{today}.csv", index=False)
            STOCK_SYMBOLS_1.remove(symbol)
        except: 
            continue

13

  0%|          | 0/13 [00:00<?, ?it/s]

 54%|█████▍    | 7/13 [00:14<00:12,  2.09s/it]

6

 50%|█████     | 3/6 [00:07<00:07,  2.51s/it]

3

 67%|██████▋   | 2/3 [00:03<00:01,  1.76s/it]

1

100%|██████████| 1/1 [00:02<00:00,  2.15s/it]

In [14]:
ak.stock_zh_a_daily(symbol="sh600519", start_date="20101231", end_date="20251231", adjust="")

,date,open,high,low,close,volume,amount,outstanding_share,turnover
0,2010-12-31,181.80,184.28,181.05,183.92,4608487.0,8.430757e+08,9.438000e+08,0.004883
1,2011-01-04,186.90,187.90,182.60,185.50,6046226.0,1.116558e+09,9.438000e+08,0.006406
2,2011-01-05,184.90,185.40,180.50,181.08,5819802.0,1.064873e+09,9.438000e+08,0.006166
3,2011-01-06,181.21,183.60,178.44,180.24,3758456.0,6.779840e+08,9.438000e+08,0.003982
4,2011-01-07,180.18,181.69,178.50,179.72,3053380.0,5.487324e+08,9.438000e+08,0.003235
...,...,...,...,...,...,...,...,...,...
3633,2025-12-22,1410.00,1414.14,1406.58,1408.26,2042565.0,2.881637e+09,1.252270e+09,0.001631
3634,2025-12-23,1408.26,1412.93,1397.19,1407.86,2450681.0,3.445377e+09,1.252270e+09,0.001957
3635,2025-12-24,1404.99,1406.36,1400.00,1400.90,2518669.0,3.533254e+09,1.252270e+09,0.002011
3636,2025-12-25,1405.00,1419.48,1401.38,1414.17,2338621.0,3.299572e+09,1.252270e+09,0.001868
3637,2025-12-26,1414.17,1419.14,1410.00,1414.13,1780299.0,2.520606e+09,1.252270e+09,0.001422